version: 2

jobs:
  build:
    docker:
      - image: boxfuse/flyway:5.1.4
    steps:
        - checkout
        - run:
            name: Replace password in .circleci/flyway.conf
            command: sed -i -e "s/{{password}}/${OPENCOCKTAIL_CIRCLECI_PASSWORD}/g" .circleci/flyway.conf
        - run:
            name: Replace base url in .circleci/flyway.conf
            command: sed -i -e "s/{{base_url}}/${OPENCOCKTAIL_CIRCLECI_BASE_URL}/g" .circleci/flyway.conf
        - run:
            name: Execute migration
            command: flyway -X -configFiles=.circleci/flyway.conf migrate
