version: 2

jobs:
  build:
    docker:
      - image: boxfuse/flyway:5.1.4
    steps:
        - checkout
        - run:
            name: Replace password in flyway.conf
            command: sed -i -e "s/{{password}}/${OPENCOCKTAIL_CIRCLECI_PASSWORD}/g" flyway.conf
        - run:
            name: Replace password in flyway.conf
            command: sed -i -e "s/{{base_url}}/${OPENCOCKTAIL_CIRCLECI_BASE_URL}/g" flyway.conf
        - run:
            name: Copy sql to flyway folder
            command: mv sql/* /flyway/sql/
        - run:
            name: Clean database (only for testing)
            command: flyway -X clean
        - run:
            name: Execute migration
            command: flyway -X migrate
